@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h3 class="card-title">Saindo...</h3>
                        <p class="card-text">Obrigado por usar nossa aplicação. Você está sendo desconectado.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>